<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/system.css}">
	<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
	<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>


<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- Brand/logo -->
			<a class="navbar-brand" th:href="@{/index}">Inicio</a>

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{manga}">Estilo Manga</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{libre}">Estilo Libre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{mangas}">Mangas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.instagram.com/v_i_c_t_o_r_r_r_r_r/?hl=es-la"
						target="_blank">Instragram</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
				</li>
			</ul>
		</nav>

		<div class="jumbotron">
			<h1 align="center">Wanted</h1>
		</div>
		<div align="center" class="row m-6 centro">
			<div class="col-lg-8 mb-8">
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/01.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/03.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/04.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/05.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/06.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/07.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/08.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/09.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/10.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/11.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/12.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/13.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/14.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/15.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/16.jpg}" alt="">
				</a>
				<a href="#" data-toggle="modal" data-target="#galeria">
					<img id="01" class="w-100 mb-4 rounded animacion" th:src="@{img/wanted/17.jpg}" alt="">
				</a>
			</div>

		</div>


		<!-- The Modal -->
		<div class="modal fade" id="galeria">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">
					<!-- Modal body -->
					<div class="modal-body">
						<img id="principal" class="animacion" src="" alt="">
					</div>
				</div>
			</div>
		</div>


		<script>
			$(document).ready(function () {
				$(".animacion").click(function () {
					var rutaImg = $(this).prop("src");
					$("#principal").prop("src", rutaImg);
				});
			});
		</script>

</body>

</html>